langchain
langchain-core
langchain-community
pypdf
pymupdf
sentence-transformers   #hugging face library 
faiss-cpu   #vector store
chromadb   #another good open src vector db
langchain-groq
python-dotenv